<div class="bx--row landing-page__r2">
	<div class="bx--col-md-4 bx--col-lg-7">
		{{#if loggedin}}
		<div data-notification class="ci--notification-error bx--inline-notification bx--inline-notification--error" role="alert">
			<div class="bx--inline-notification__details">
				<svg focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" class="bx--inline-notification__icon" width="20" height="20" viewBox="0 0 20 20" aria-hidden="true"><path d="M10,1c-5,0-9,4-9,9s4,9,9,9s9-4,9-9S15,1,10,1z M13.5,14.5l-8-8l1-1l8,8L13.5,14.5z"></path><path d="M13.5,14.5l-8-8l1-1l8,8L13.5,14.5z" data-icon-path="inner-path" opacity="0"></path></svg>
				<div class="bx--inline-notification__text-wrapper">
				<p class="bx--inline-notification__title">Authentication failure</p>
				<p class="bx--inline-notification__subtitle">There was an error processing the request. Check the console logs for more details.</p>
				</div>
			</div>
		</div>
		{{/if}}
		{{#if loggedout}}
		<div data-notification class="ci--notification bx--inline-notification bx--inline-notification--success" role="alert">
			<div class="bx--inline-notification__details">
				<svg focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" class="bx--inline-notification__icon" width="20" height="20" viewBox="0 0 20 20" aria-hidden="true"><path d="M10,1c-4.9,0-9,4.1-9,9s4.1,9,9,9s9-4,9-9S15,1,10,1z M8.7,13.5l-3.2-3.2l1-1l2.2,2.2l4.8-4.8l1,1L8.7,13.5z"></path><path fill="none" d="M8.7,13.5l-3.2-3.2l1-1l2.2,2.2l4.8-4.8l1,1L8.7,13.5z" data-icon-path="inner-path" opacity="0"></path></svg>
				<div class="bx--inline-notification__text-wrapper">
				<p class="bx--inline-notification__title">Logout success</p>
				<p class="bx--inline-notification__subtitle">Your session and access token have been revoked.</p>
				</div>
			</div>
		</div>
		{{/if}}
		<p class="landing-page__p">Use this application to test a new way of performing data privacy and consent.</p>
		<h1 class="landing-page__gettingstarted">Getting started</h1><a href="/login"
			class="bx--link bx--tile bx--tile--clickable landing-page_primary">Login<svg focusable="false"
				preserveAspectRatio="xMidYMid meet" style="will-change: transform;" aria-label="Login"
				xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 32 32" role="img">
				<path
					d="M26,30H14a2,2,0,0,1-2-2V25h2v3H26V4H14V7H12V4a2,2,0,0,1,2-2H26a2,2,0,0,1,2,2V28A2,2,0,0,1,26,30Z">
				</path>
				<path d="M14.59 20.59L18.17 17 4 17 4 15 18.17 15 14.59 11.41 16 10 22 16 16 22 14.59 20.59z">
				</path>
			</svg></a>{{#if signupEnabled}}<a href="{{signupLink}}"
				class="bx--link bx--tile bx--tile--clickable landing-page_button1">Sign Up<svg focusable="false" 
				preserveAspectRatio="xMidYMid meet" style="will-change: transform;" aria-label="Sign Up" xmlns="http://www.w3.org/2000/svg" width="24" 
				height="24" viewBox="0 0 32 32" role="img">
				<path 
					d="M6,30H18a2.0023,2.0023,0,0,0,2-2V25H18v3H6V4H18V7h2V4a2.0023,2.0023,0,0,0-2-2H6A2.0023,2.0023,0,0,0,4,4V28A2.0023,2.0023,0,0,0,6,30Z">
				</path>
				<path d="M20.586 20.586L24.172 17 10 17 10 15 24.172 15 20.586 11.414 22 10 28 16 22 22 20.586 20.586z"></path>
			</svg></a>
			{{/if}}
	</div>
</div>