<div class="bx--row landing-page__r2">
	<div class="bx--col-md-4 bx--col-lg-7">
    <div data-notification class="ci--notification bx--inline-notification bx--inline-notification--success" role="alert">
      <div class="bx--inline-notification__details">
        <svg focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" class="bx--inline-notification__icon" width="20" height="20" viewBox="0 0 20 20" aria-hidden="true"><path d="M10,1c-4.9,0-9,4.1-9,9s4.1,9,9,9s9-4,9-9S15,1,10,1z M8.7,13.5l-3.2-3.2l1-1l2.2,2.2l4.8-4.8l1,1L8.7,13.5z"></path><path fill="none" d="M8.7,13.5l-3.2-3.2l1-1l2.2,2.2l4.8-4.8l1,1L8.7,13.5z" data-icon-path="inner-path" opacity="0"></path></svg>
        <div class="bx--inline-notification__text-wrapper">
          <p class="bx--inline-notification__title">Authentication successful</p>
          <p class="bx--inline-notification__subtitle">Welcome {{user.name}}! You're now logged in and can view your profile by clicking on the button below.</p>
        </div>
      </div>
    </div>
    
    <p class="landing-page__p">Use this application to test a new way of performing data privacy and consent.</p>
    <h1 class="landing-page__gettingstarted">Getting started</h1>
    <a href="/users/profile" 
      class="bx--link bx--tile bx--tile--clickable bx--tile--is-clicked landing-page_primary">View profile<svg focusable="false" 
      preserveAspectRatio="xMidYMid meet" style="will-change: transform;" aria-label="Profile" xmlns="http://www.w3.org/2000/svg" width="24" 
      height="24" viewBox="0 0 32 32" role="img">
      <path 
        d="M22,11h4a1,1,0,0,1,1,1v2a0,0,0,0,1,0,0H21a0,0,0,0,1,0,0V12A1,1,0,0,1,22,11Z">
      </path><circle cx="24" cy="8" r="2"></circle><path 
        d="M30 18H18a2.0023 2.0023 0 0 1-2-2V4a2.002 2.002 0 0 1 2-2H30a2.0023 2.0023 0 0 1 2 2V16A2.0027 2.0027 0 0 1 30 18zM18 4V16H30.001L30 4zM15 30H13V26a2.9465 2.9465 0 0 0-3-3H6a2.9465 2.9465 0 0 0-3 3v4H1V26a4.9514 4.9514 0 0 1 5-5h4a4.9514 4.9514 0 0 1 5 5zM8 11a3 3 0 0 1 0 6 3 3 0 0 1 0-6M8 9A5 5 0 0 0 8 19 5 5 0 0 0 8 9z">
      </path></svg></a><a href="/users/consents" 
      class="bx--link bx--tile bx--tile--clickable bx--tile--is-clicked landing-page_button1">Consents<svg focusable="false" 
      preserveAspectRatio="xMidYMid meet" style="will-change: transform;" aria-label="Consents" xmlns="http://www.w3.org/2000/svg" width="24" 
      height="24" viewBox="0 0 32 32" role="img">
      <path 
        d="M22,11h4a1,1,0,0,1,1,1v2a0,0,0,0,1,0,0H21a0,0,0,0,1,0,0V12A1,1,0,0,1,22,11Z">
      </path><circle cx="24" cy="8" r="2"></circle><path 
        d="M30 18H18a2.0023 2.0023 0 0 1-2-2V4a2.002 2.002 0 0 1 2-2H30a2.0023 2.0023 0 0 1 2 2V16A2.0027 2.0027 0 0 1 30 18zM18 4V16H30.001L30 4zM15 30H13V26a2.9465 2.9465 0 0 0-3-3H6a2.9465 2.9465 0 0 0-3 3v4H1V26a4.9514 4.9514 0 0 1 5-5h4a4.9514 4.9514 0 0 1 5 5zM8 11a3 3 0 0 1 0 6 3 3 0 0 1 0-6M8 9A5 5 0 0 0 8 19 5 5 0 0 0 8 9z">
      </path></svg></a><a href="/users/cart" 
      class="bx--link bx--tile bx--tile--clickable bx--tile--is-clicked landing-page_button1">My Cart<svg focusable="false" 
      preserveAspectRatio="xMidYMid meet" style="will-change: transform;" aria-label="My Cart" xmlns="http://www.w3.org/2000/svg" width="24" 
      height="24" viewBox="0 0 32 32" role="img">
      <path 
        d="M22,11h4a1,1,0,0,1,1,1v2a0,0,0,0,1,0,0H21a0,0,0,0,1,0,0V12A1,1,0,0,1,22,11Z">
      </path><circle cx="24" cy="8" r="2"></circle><path 
        d="M30 18H18a2.0023 2.0023 0 0 1-2-2V4a2.002 2.002 0 0 1 2-2H30a2.0023 2.0023 0 0 1 2 2V16A2.0027 2.0027 0 0 1 30 18zM18 4V16H30.001L30 4zM15 30H13V26a2.9465 2.9465 0 0 0-3-3H6a2.9465 2.9465 0 0 0-3 3v4H1V26a4.9514 4.9514 0 0 1 5-5h4a4.9514 4.9514 0 0 1 5 5zM8 11a3 3 0 0 1 0 6 3 3 0 0 1 0-6M8 9A5 5 0 0 0 8 19 5 5 0 0 0 8 9z">
      </path></svg></a><a 
        href="/logout" class="bx--link bx--tile bx--tile--clickable landing-page_button1">Logout<svg 
        focusable="false" preserveAspectRatio="xMidYMid meet" style="will-change: transform;" aria-label="Logout" 
        xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 32 32" role="img">
        <path d="M6,30H18a2.0023,2.0023,0,0,0,2-2V25H18v3H6V4H18V7h2V4a2.0023,2.0023,0,0,0-2-2H6A2.0023,2.0023,0,0,0,4,4V28A2.0023,2.0023,0,0,0,6,30Z"></path>
        <path d="M20.586 20.586L24.172 17 10 17 10 15 24.172 15 20.586 11.414 22 10 28 16 22 22 20.586 20.586z">
        </path></svg></a>
  </div>
</div>